.wrap {
    width: var(--max-width);
    padding: 0 var(--app-padding);
}

.infoBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
    font-size: 14px;
}
