.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.date, .datePlaceholder {
    font-size: min(45px, 7.5vw);
    font-weight: 500;
}

.datePlaceholder {
    width: 90%;
}

.inputs {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.startTime, .jobLabel {
    display: flex;
    align-items: center;
}

.startTime, .jobLabel, .startTimePlaceholder, .jobLabelPlaceholder {
    font-size: 18px;
    margin: 15px;
}

.startTimePlaceholder, .jobLabelPlaceholder {
    width: 35%;
}

.startInput {
    width: 80px;
    font-size: inherit;
    text-align: right;
}

.clockIn {
    color: #000;
    border-radius: var(--border-rad);
    background-color: var(--accent-color);
    transition: background-color .5s ease;
}

.clockIn, .clockInPlaceholder {
    width: 100%;
    height: 65px;
    font-size: 22px;
    font-weight: 500;
}

.clockIn:hover {
    background-color: #fff;
}
