.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.date, .time {
    margin: 5px;
    font-size: 28px;
}

.time {
    margin-bottom: 50px;
}

.clockIn {
    width: 200px;
    height: 75px;
    font-size: 22px;
    border-radius: var(--border-rad);
    background-color: #fff;
    color: #000;
}
