.row {
    width: 100vw;
    height: 50px;
    max-width: 500px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: solid #fff;
    border-width: 1px 0 0 0;
}

.row > * {
    text-align: center;
}

.day {
    width: 50%;
}

.in, .out {
    width: 25%;
}

.delete {
    position: relative;
    width: 0;
    overflow: hidden;
    border: none;
    transition: width .3s ease;
}

.delete, .deleteHover {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deleteVisible {
    width: 40px;
}

.deleteHover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease;
    background-color: #000;
}

.delete:hover {
    background-color: transparent;
}

.delete:hover .deleteHover {
    opacity: 1;
}
