:root {
    --border-rad: 4px;
}

body {
    background-color: #000;
    color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
