.home {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.signOut {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    width: 75px;
    height: 40px;
    font-size: 14px;
    border-radius: var(--border-rad);
}
