.style {
    border-radius: var(--border-rad);
    background: linear-gradient(90deg, #111 30%, #555 70%, #111 70%);
    background-size: 400% 100%;
    animation: wipe 2.5s ease-in-out infinite;
    color: transparent;
    user-select: none;
}

@keyframes wipe {
    from {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}
