.wrap {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.wrap > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px;
    font-size: min(40px, 9vw);
}

.signIn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #000;
    background-color: var(--accent-color);
    border-radius: var(--border-rad);
    transition: background-color .5s ease;
}

.signIn:hover {
    background-color: #fff;
}
