.wrap {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: var(--border-rad);
    background-color: #111;
}

.wrap .row:last-child {
    border: none;
}

.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 14px;
    border: solid #333;
    border-width: 0 0 1px 0;
}

.row * {
    text-align: center;
}

.row > div {
    display: flex;
    align-items: center;
}

.day, .in, .out, .total {
    width: 19vw;
}

.day {
    max-width: 150px;
}

.in, .out {
    max-width: 80px;
}

.total {
    max-width: 100px;
}

.delete {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border: none;
    width: 0;
    font-size: 20px;
    transition: width .3s ease;
}

.deleteVisible {
    width: 20px;
}

.delete * {
    color: #ffcb68;
    transition: color .5s ease;
}

.delete:hover * {
    color: #fff;
}
